set_io --warn-no-port clk 35
set_io --warn-no-port hsync 20
set_io --warn-no-port vsync 10
set_io --warn-no-port r 12
set_io --warn-no-port ri 21
set_io --warn-no-port g 13
set_io --warn-no-port gi 19
set_io --warn-no-port b 18
set_io --warn-no-port bi 11
set_io --warn-no-port nrd 2
set_io --warn-no-port nwr 46
set_io --warn-no-port ncs 32
set_io --warn-no-port wait_sig 47
set_io --warn-no-port int_sig 45
set_io --warn-no-port ext_address[0] 27
set_io --warn-no-port ext_address[1] 26
set_io --warn-no-port ext_address[2] 25
set_io --warn-no-port ext_address[3] 23
set_io --warn-no-port ext_databus[0] 28
set_io --warn-no-port ext_databus[1] 38
set_io --warn-no-port ext_databus[2] 42
set_io --warn-no-port ext_databus[3] 36
set_io --warn-no-port ext_databus[4] 43
set_io --warn-no-port ext_databus[5] 34
set_io --warn-no-port ext_databus[6] 37
set_io --warn-no-port ext_databus[7] 31
