set_io --warn-no-port clk 35
set_io --warn-no-port hsync 20
set_io --warn-no-port vsync 10
set_io --warn-no-port r 12
set_io --warn-no-port ri 21
set_io --warn-no-port g 13
set_io --warn-no-port gi 19
set_io --warn-no-port b 18
set_io --warn-no-port bi 11
